body {
  margin: 0;
}
/* header */
.header {
  background-image: url(../img/perjalanan_waktu.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 3px solid #f1eeee;
}

.header h1 {
  color: #e6e1e1;
  font-size: 2.5em;
  padding-top: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header h3 {
  color: #ddd;
  font-size: 1.4em;
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px; /* jarak dalam navbar */
}

.navbar {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  text-align: left;
}

.navbar li {
  display: inline; /* Menyusun item secara horizontal */
  margin: 5px; /* Jarak antar item */
  font-size: 20px; /*ukuran teks*/
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.5s; /* Efek transisi saat hover */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Latar belakang saat dihover */
  color: yellow;
  border-radius: 5px; /* Sudut jadi bulat saat hover */
}

.dropdown {
  display: none; /* Menyembunyikan dropdown secara default */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9); /* Latar belakang dropdown */
  padding: 10px; /* Ruang dalam dropdown */
  z-index: 1; /* Pastikan dropdown tampil di atas */
}

.navbar li:hover .dropdown {
  display: block; /* Menampilkan dropdown saat hover pada parent */
}

.dropdown li {
  display: block; /* Menyusun item dropdown secara vertikal */
  margin: 5px 0; /* Jarak antar item dropdown */
}

/* seacrh */
.search-form {
  display: inline-block; /* Menyusun form secara horizontal */
}

.search-form input[type="text"] {
  padding: 5px; /* Ruang dalam input */
  border: 1px solid #ccc; /* Border input */
  border-radius: 4px; /* Sudut jadi bulat */
}

.search-form button {
  padding: 5px 10px; /* jarak teks didalam tombol */
  background-color: #37988e; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: none; /* Menghilangkan border tombol */
  border-radius: 4px; /* Sudut yang bulat */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
}

.search-form button:hover {
  background-color: #2a7a6b; /* Warna latar belakang saat hover */
}
/* left content */
.leftcolumn {
  display: flex; /* Menggunakan flexbox untuk susunan vertikal */
  flex-direction: column; /* Menyusun item secara vertikal */
  width: 75%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  gap: 20px; /* Jarak antar kotak */
}

.leftcolumn .box {
  background-color: #e2e2e2; /* Latar belakang kotak */
  padding: 15px; /* Padding di dalam kotak */
  border: 1px solid #ccc; /* Border kotak */
  border-radius: 5px; /* Sudut yang bulat */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan kotak */
}
.leftcolumn .box img {
  width: 100%;
}

.leftcolumn .box h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* right content */
.rightcolumn {
  width: 25%;
  float: right; /* Agar isi konten di kanan */
  padding: 15px; /* Padding dalam kolom */
  box-sizing: border-box; /* Menghitung padding dalam lebar kolom */
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* Menyusun item secara vertikal */
  gap: 20px; /* Jarak antar kotak */
}

.rightcolumn .box {
  background-color: #e2e2e2; /* Latar belakang kotak */
  padding: 15px; /* Padding di dalam kotak */
  border: 1px solid #ccc; /* Border kotak */
  border-radius: 5px; /* Sudut yang bulat */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.rightcolumn h2 {
  font-size: 30px; /* Ukuran teks judul */
  font-weight: bold; /* Menebalkan teks */
  font-family: Arial, Helvetica, sans-serif; /* Jenis huruf */
  color: #333; /* Warna teks */
}

.rightcolumn p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.rightcolumn ul {
  list-style-type: disc; /* Tipe daftar */
  padding-left: 20px; /* Jarak dari tepi */
}

.rightcolumn ul li {
  margin-bottom: 10px; /* Jarak antar item dalam daftar */
}

.rightcolumn a {
  color: #37988e; /* Warna link */
  text-decoration: none; /* Menghilangkan garis bawah */
}

.rightcolumn a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

.social-links a {
  display: flex; /* Menampilkan link dengan ikon sebagai flex */
  align-items: center;
  color: #070707;
  font-size: 20px;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s;
}

.social-links a:hover {
  text-decoration: underline;
  color: #1ca71c;
}

.social-links i {
  margin-right: 10px;
}

/* footer */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  float: inline-end;
  bottom: 0;
  width: 100%;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

.footer-links a {
  color: #473be9;
  text-decoration: none;
}
